{% extends 'base.html' %}
{% block content %}

<h1>{{ event.name }}</h1>
<h2>{{ event.description }}</h2>
<ul>
  {% for outcome in event.outcome_set.all %}
  	<li>
  		{{ outcome.name }}
  		{{ outcome.description }}
  		likelihood: {{ outcome.likelihood }}
  		<form action="/make_prediction/" method="POST">
  			{% csrf_token %}
        <input type="number" name="reputation" min="1" step="1" value="1"/>
        <input type="hidden" name="outcome_id" value="{{ outcome.id }}"/>
        <input type="submit" value="Submit"/>
  		</form>
  	</li>
  {% endfor %}
<ul>

{% endblock %}
